.container_fixo{
    background: #beb9b9;
    position: relative;
    width: 400px;
    height: 400px; 
}


.resizable-container {
    width: 100%;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    position: relative;
  }
  
  .content {
    padding: 10px;
    overflow: auto;
  }
  
  .resizer {
    width: 100%;
    height: 10px;
    background: #ddd;
    cursor: ns-resize;
    position: absolute;
    bottom: 0;
  }
  